
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/assets/css/main.css"> 
    <link rel="stylesheet" href="/assets/css/blog_home.css"> 
    <link rel="stylesheet" href="/assets/css/navbar.css"> 
    <script src="/assets/js/video.js" defer></script> <!-- for clean manim animation start and stop -->
</head>

<header>
    <div class="navbar">
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog_home/">Blog</a></li>
                {# <li><a href="https://sites.google.com/view/barislandproject/home/">Bar Island IQP</a></li> #}
                <li><a href="/about_me/">About Me</a></li>
                <li><a href="/contact_info/">Contact Info</a></li>
                <li><a href="/cv/">CV</a></li>
                <li><a href="/misc/">Misc.</a></li>
            </ul>
        </div>
    </div>
</header>

<section class="hero">
    <h1>{{ title }}</h1>
    <p>
        Here's an always growing collection of small blog posts. 
        I typically add miscellanous things here I think are interesting like cool math problems or manim animations.
        I also sometime make posts about some of the projects I've worked on to provide a bit more background/insight.
    </p>
</section>

<div class="blog-posts">
   {% for post in collections.blog | sort(attribute="data.date") | reverse %}
        <article class="post-preview">
        <div class="image-container {% if post.data.hover_gif or post.data.hover_video %}has-hover{% endif %} 
                    {% if post.data['image-fit'] == 'contain' and post.data['image-fit'] is not undefined %}contain{% else %}cover{% endif %}" 
             style="aspect-ratio: {{ post.data.aspect | default('4/3') }}">

            <img src="{{ post.data.image | url }}" alt="{{ post.data.title }} thumbnail" class="thumbnail" />

            {% if post.data.hover_gif %}
            <img src="{{ post.data.hover_gif | url }}" class="hover-gif" alt="Animated preview of {{ post.data.title }}">
            {% endif %}

            {% if post.data.hover_video %}
            <video class="hover-video" loop muted>
                <source src="{{ post.data.hover_video | url }}" type="video/mp4">
            </video>
            {% endif %}
        </div>

        <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        <p>{{ post.templateContent | stripHtml | truncate(150) }}</p>
        <a href="{{ post.url }}">Read more...</a>
        </article>
    {% endfor %}
</div> 
</body>


</html>
