/* Give space to navbar so not over other objects */
.wrapper {
    margin-top: 5%; /* Adjust this value based on the height of your navbar */
}

/* Style the nav bar */
.navbar {
    background-color: #333;        /* Background color for the navbar */
    padding: 0.5% 0;               /* Add padding for spacing */
    width: 100%;                   /* Make the navbar span the full width */
    position: fixed;               /* Keep the navbar fixed at the top of the page */
    justify-content: center;
    align-items: center;
    top: 0;                        /* Ensure it's positioned at the top */
    z-index: 1000;                 /* Make sure it's on top of other content */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}


/* Remove default list styles and align items horizontally using Flexbox */
.navbar ul {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.65;
    list-style-type: none;         /* Remove bullet points from the list */
    margin: 0;
    padding: 0;
    display: flex;                
    justify-content: left; 
    align-items: center;    
    text-align: center;
    overflow-x: auto;
	vertical-align: baseline;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background 0.2s ease;
}

@media (max-width: 768px) {
    .navbar ul {
        font-size: 0.7rem;
    }
}

@media (max-width: 480px) {
    .navbar ul {
        font-size: 0.4rem;
    }
}

/* Style the individual list items */
.navbar ul li {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;                
}

/* Style the anchor links */
.navbar ul li a {
    color: white;                  /* Set the link text color to white */
    text-decoration: none;         /* Remove underline from links */
    padding: 10px 20px;            /* Add padding to make the links easier to click */
    font-size: 18px;               /* Adjust the font size */
}

/* Add a hover effect for the links */
.navbar ul li a:hover {
    background-color: #575757;     /* Change the background color on hover */
    border-radius: 4px;            /* Round the edges on hover */
}