
body {
margin: 0; /* remove default body margin */
}

header {
position: fixed; /* keeps the navbar at the top of the page */
width: 100%;
top: 0;
left: 0;
z-index: 1000;
}

#wrapper {
margin-top: 60px; /* same as header height */
}

@media (max-width: 600px) {
#wrapper {
    margin-top: 50px; /* if header shrinks on mobile */
}
}

